<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="font-weight: bold;">CINEPLUS</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Mantenimientos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Mantenimiento Clientes       <i class="fas fa-users-cog"></i></a></li>
                            <li><a class="dropdown-item" href="#">Mantenimiento  Usuarios   <i class="fas fa-user-edit"></i></a></li>
                            <li><a class="dropdown-item" href="#">Mantenimiento Películas    <i class="fas fa-film"></i></a></li>
                            <li><a class="dropdown-item" href="#">Mantenimiento Comestibles  <i class="fas fa-drumstick-bite"></i></a></li>
                        	<li><a class="dropdown-item" href="#">Mantenimiento Proveedores  <i class="fas fa-box"></i></a></li>
                        	
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Reporte
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Reporte Clientes <i class="fas fa-align-left"></i></a></li>
                            <li><a class="dropdown-item" href="#">Reporte Ventas     <i class="fas fa-align-left"></i></a></li>
                            <li><a class="dropdown-item" href="#">Boleta  <i class="fas fa-barcode"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <i class="fas fa-user" style="font-weight: bold;"></i>
                    </button>
                </li>
                <li class="nav-item" style="margin-left: 5px">
                  <a href="#" class="btn btn-info"  aria-pressed="true" style="color: white;font-weight: bold;">  Close</a>
                </li>
            </ul>
        </div>
    </nav>




    <!-- Modal -->

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Información del Perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">

                        <h3>Nombre: <span class="badge bg-info text-light">-----------</span></h3>
                        <h3>Email :  <span class="badge bg-info text-light">-----------</span></h3>
                        <h3>Dirección : <span class="badge bg-info text-light">-----------</span></h3>
                        <h3>Teléfono  :  <span class="badge bg-info text-light">-----------</span></h3>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>





